
<div class="col-xs-4">
  <div class="form wrapper">
    <div class="row">
      <h4 class="grey_title">Repositories</h4>
    </div>
    <div class="blocks-list list-panel panel panel-default">
      <%= form_with url: compare_repos_path, local: true, method: :get, :html=> {:id => 'repos_form'} do |form| %>
        <div class="form_content">
          <div class="buttons_row">
            <%= form.submit "Compare Repos", class: 'btn btn-primary new-item no-label' %>
            <%= link_to "Add New Repo", fetch_repos_path, class: 'btn btn-primary new-item no-label' %>
          </div>
          <div class="list_items">
            <% if @repos.count.zero? %>
              <p>No repos added!</p>
            <% end %>
            <% @repos.each do |repo| %>
              <p>
                <%= check_box_tag 'repos_ids[]', repo.id, false, class: "repo-checkbox" %>
                <%= link_to "#{repo.user.login.split&.map(&:capitalize)&.join(' ')} - #{repo.name&.split&.map(&:capitalize)&.join(' ')}", repo_path(repo) %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
