
<%= form_with url: compare_repos_path, local: true, method: :get, :html=> {:id => 'repos_form'} do |form| %>
  <% if @repos.count.zero? %>
    <p>No repos added!</p>
  <% end %>
  <% @repos.each do |repo| %>
    <p>
      <%= check_box_tag 'repos_ids[]', repo.id, false, class: "repo-checkbox" %>
      <%= link_to "#{repo.user.login.capitalize} - #{repo.name.capitalize}", repo_path(repo) %>
    </p>
  <% end %>
  <%= link_to "Find Repo", fetch_repos_path, class: 'btn btn-primary new-item no-label' %>
  <%= form.submit "Compare Repos", class: 'btn btn-primary new-item no-label' %>
<% end %>