<div class="center_presentation">
  <div class="col-xs-4">
    <div class="form wrapper">
      <div class="row">
        <h4 class="grey_title">Users</h4>
      </div>
      <div class="blocks-list list-panel panel panel-default">
        <%= form_with url: compare_users_path, local: true, method: :get, :html=> {:id => 'users_form'} do |form| %>
          <div class="form_content">
            <div class="buttons_row">
              <%= form.submit "Compare Users", class: 'btn btn-primary new-item no-label' %>
              <%= link_to "Add New User", fetch_users_path, class: 'btn btn-primary new-item no-label' %>
            </div>
            <div class="list_items">
              <% if @users.count.zero? %>
                <p>No users added!</p>
              <% end %>
              <% @users.each do |user| %>
                <p>
                  <%= check_box_tag 'users_ids[]', user.id, false, class: "user-checkbox" %>
                  <%= link_to "#{user.login&.capitalize}", user_path(user) %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: "repos/index", locals: { repos: @repos } %>
</div>

<script>
  $(document).ready(function() {
    var limit = 2;

    $('input.user-checkbox').on('change', function(evt) {
      if ($('input.user-checkbox[type=checkbox]:checked').length > limit) {
        $(this).prop('checked', false);
        alert("You can only compare 2 Users");
      }
    });

    $('input.repo-checkbox').on('change', function(evt) {
      if ($('input.repo-checkbox[type=checkbox]:checked').length > limit) {
        $(this).prop('checked', false);
        alert("You can only compare 2 Repos");
      }
    });

    $('#users_form').on('submit', function(e) {
      if ($('input.user-checkbox[type=checkbox]:checked').length != limit) {
        e.preventDefault();
        alert('You need select 2 Users to compare')
        return false;
      }
    });

    $('#repos_form').on('submit', function(e) {
      if ($('input.repo-checkbox[type=checkbox]:checked').length != limit) {
        e.preventDefault();
        alert('You need select 2 Repos to compare')
        return false;
      }
    });

  });
</script>
