
<div class="center_presentation">
  <div class="col-xs-4">
    <div class="form wrapper">
      <div class="row">
        <h4 class="grey_title">Search result</h4>
      </div>
      <div class="blocks-list list-panel panel panel-default">
        <div class="form_content">
          <% if @code == 200 %>
            <%= "This user has no repositories" if @repos.count.zero? %>
            <% @repos.each do |repo| %>
              <div class="buttons_row">
                <p><b>Repository name:</b> <%= repo["name"] %></p>
                <%= link_to "Save repo", repos_path(repo_data: repo), method: :post, class: 'btn btn-primary new-item no-label' %>
              </div>
            <% end %>
          <% else %>
            <p>User not found</p>
          <% end %>
          <div class="buttons_row">
            <%= link_to "Back", :back, class: 'btn btn-primary new-item no-label' %>
            <%= link_to "Home", root_path, class: 'btn btn-primary new-item no-label' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>